/* reset css start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* reset css end */

/* container dengan background */
.home-container {
    min-height: 100vh;
    height: 100vh;
    background: url(sunny.png) no-repeat center center/cover;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
}

.navbar .logo a img {
    height: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.navbar ul a:hover {
    color: #ffd700;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    color: #2a2929;
    padding: 30px 50px;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2rem;
}

.container-crew {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: dodgerblue;
    padding: 10px 20px;
    gap: 6px;
    border: solid 0.9px black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-crew div {
    background-color: #f1f1f1;
    border: 1.5px solid black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

.container-crew img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border: solid 1.3px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-crew img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.characters h4{
    font-size: 15px;
    margin-bottom: 5px;
}

.characters p{
    font-size: 10px;
}

.contact-form {
    max-width: 500px;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: dodgerblue;
    border: solid 2px black;
    max-width: 500px;
    padding: 20px;
    margin-right: 570px;
    margin-top: 150px;
}

form {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    min-width: 48%;
    margin-bottom: 10px;
}

